<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui icon floating message">
            <i class="warning circle icon"></i>
            <div class="content">
                <div class="header">
                    Lỗi!
                </div>
               
                        <p>Chúng tôi không thể tìm thấy trang bạn yêu cầu, vui lòng kiểm tra lại đường dẫn của bạn!</p>
                  
                   
               
            </div>

        </div>
    </div>
</div>


